body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;;
}
.header {
  font-size: 30px;
  letter-spacing: 2px;
  text-align: center;
  color: green;
  background-color: yellow;
}

.title {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

#foodies {
  width: 20%;
  height: 40%;
}
.white {
  background-color: white;
}

form {
  padding-top: 20px;
}

.searchbox {
  padding-top: 20px;
}

.form-group .form-control {
  width: 200%;
}

#search {
  border-radius: 3px;
}

#allReviews {
  margin-left: 10px;
  color: white;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.biz {
  color: green;
}

i.fa.fa-star {
  color: green;
}

.category {
  font-size: 12px;
}

.about {
  font-size: 12px;
}

.addbox {
  font-size: 12px;
  color:gray;
}
#results {
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
/*#restaurantimg {
  width: 20%;
  height: 20%;
  margin-left: 20px
}

.restaurants {
  color: green;
}

.jumbotron p {
  font-size: 20px;
}

.infobox {
  border-style: solid;
  border-color: yellow;
  border-radius: 20px;
  padding: 20px;
}*/
