body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;;
}

.header {
  font-size: 30px;
  letter-spacing: 2px;
  text-align: center;
  color: green;
  background-color: yellow;
  padding: 10px;
}

.title {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

#foodies {
  width: 20%;
  height: 40%;
}

.white {
  background-color: white;
}

form {
  padding-top: 20px;
}

#home{
  margin-left: 20px;
}

#searchbox {
  padding-top: 20px;
}

.form-group .form-control {
  width: 200%;
}

#find {
  border-radius: 3px;
}

h1 {
  margin-left: 10%;
  color: green;
}

.panel.panel-default {
  border-color: green;
  border-width: 3px;
  border-radius: 20px;
  padding-bottom: 50px;
}

i.fa.fa-star {
  color: green;
  font-size: 17px;
}

i.fa.fa-star-o{
  color: green;
  font-size: 17px;
}

i.fa.fa-user {
  margin-right: 5px;
}
.reviewbox {
  border-style: solid;
  border-color: yellow;
  border-radius: 20px;
  border-width: 2px;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
}

.reviewer {
  border-style: solid;
  border-color: white;
  border-radius: 20px;
  border-width: 2px;
  padding: 10px;
  margin-top: 10px;
  margin-left: 40px;;
  margin-right: 2px;
  width: 100%;
}

.category {
  font-size: 12px;
}

.about {
  font-size: 15px;
}

.gray {
  font-size: 14px;
  color:gray;
  padding-top: 5px;
}

.btn.btn-default.btn-sm {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

#results {
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
#restaurantimg {
  width: 300px;
  margin-left: 20px
}

.description {
  font-size: 17px;
  padding-top: 5px;
}

#new-person {
  border-radius: 15px;
  margin-left: 50px;
  margin-top: 200px;
  margin-bottom: 5px;
  width: 20%;
  border-color: green;
}

.form-control.textbox {
  margin-top: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  border-color: green;
}

.btn.btn-success.btn-sm {
  margin-top: 20px;
  margin-left:80%;
  border-radius: 4px;
}
