body {   
  font-family: "Comic Sans MS", cursive, sans-serif;;
}
.header {
  font-size: 30px;
  letter-spacing: 2px;
  text-align: center;
  color: green;
  background-color: yellow;
}

.title {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
.white {
  background-color: white;
}

form {
  padding-top: 20px;
}
.searchbox {
  padding-top: 20px;
}

.form-group .form-control {
  width: 200%;
}

#foodies {
  width: 20%;
  height: 40%;
}

.btn-default {
  color: green;

}

#restaurantimg {
  width: 20%;
  height: 20%;
  margin-left: 20px
}

.restaurants {
  color: green;
}

.jumbotron p {
  font-size: 20px;
}

.infobox {
  border-style: solid;
  border-color: yellow;
  border-radius: 20px;
  padding: 20px;
}
